<!-- <h1 class="text-3xl font-bold underline bg-red-500">
  Hello world!
</h1> -->

<body>
 <div class="container mx-auto my-0 uppercase">
<div class="z-10">
  <div class="grid grid-cols-[25%_50%_25%]">
    <div class="bg-blue-400">
      <img class="w-6/12 mx-auto my-0 bg-blue-500" src="" alt="">
  </div>

  <div>
    <ul class="w-full h-full my-auto flex justify-center items-center">
        <li class="px-4 flex-col hover:text-red-400">
            <p>Trang chủ</p>
            <p class="w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300"></p>
        </li>
        <li class="px-4 flex-col group/item hover:text-red-400"><p>Chuyến đi</p>
            <p
                class="group/edit invisible group-hover/item:visible w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300">
            </p>
        </li>
        <li class="px-4 flex-col group/item relative flex h-full justify-center hover:text-red-400"><p
                >Địa điểm chuyến đi</p>
            <p
                class="group/edit invisible group-hover/item:visible w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300">
            </p>
            <ul
                class="block absolute top-20 bg-white  text-black group/edit invisible group-hover/item:visible group/item  group-hover:opacity-100 transition-all duration-500 border border-gray-200 rounded-lg">
                
                    <li class="sub-dropdown px-3 py-2 "><p 
                        class="group-hover:invisible hover:text-red-400"></p>
                    <div class="h-full">
                        <ul
                            class="sub-dropdown-content absolute left-full top-full bg-white w-max  invisible transition-all duration-400  border border-gray-200 rounded-lg">
  
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="px-4 flex-col group/item hover:text-red-400"><p>Bài viết</p>
            <p
                class="group/edit invisible group-hover/item:visible w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300">
            </p>
        </li>
        <li class="px-4 flex-col group/item hover:text-red-400"><p>Trang</p>
            <p
                class="group/edit invisible group-hover/item:visible w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300">
            </p>
        </li>
        <li class="px-4 flex-col group/item hover:text-red-400" ><p>Liên hệ</p>
            <p
                class="group/edit invisible group-hover/item:visible w-1 mx-auto my-2 rounded-full text-center h-1 bg-orange-300">
            </p>
        </li>
    </ul>
</div>


<div class="flex justify-center items-center pb-3">
  <div class="m-3">
      <span>0382610702</span>
      <i class="fas fa-phone-alt"></i>
  </div>
  <div class="m-3"><i class="fas fa-search"></i></div>
  <div class="m-3 group/item duration-75">

      <div
          class="absolute top-20 right-5 border border-gray-200 text-black bg-slate-100 rounded-b-xl invisible group-hover/item:visible transition-all duration-400 z-10">
         
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Đăng nhập</a>
          </div>
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Đăng ký</a>
          </div>
         
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Xem trang cá nhân</a>
          </div>
          
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Quản trị viên</a>
          </div>
          
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Cập nhật tài khoản</a>
          </div>
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Lịch sử đặt tour</a>
          </div>
          <div>
              <a class="px-3 py-4 hover:text-red-400" href="">Đăng xuất</a>
          </div>
          
      </div>
  </div>
</div>

  </div>

</div>
 </div>
</body>