<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-full bg-stone-100">
        <div class="bg-stone-700 fixed h-full">
            <aside>
                <!-- User -->
                <div class="w-4/5 mx-auto my-3 flex items-center">
                    <div class="w-10 h-10">
                        <img class="w-full h-full  border-2 border-white rounded-full"
                            src="" alt="">
                    </div>
                    <div class="ml-4">
                        <p>Duy Thuan</p>
                        <p>
                            <a class="hover:text-blue-300" href="">Xem website</a>
                        </p>
                    </div>
                </div>
                <!-- Chuc nang -->
                <div>
                    <p class="text-start px-7 py-2 text-lg uppercase bg-stone-800 text-gray-400">Chuc nang he thong</p>
                    <!-- Menu -->
                    <div class=" flex flex-col py-2 px-7 h-full text-white">
                        <div class="flex items-center py-2 px-2 hover:border-b-2">
                            <i class="fas fa-home"></i>
                            <a class="px-1 hover:text-blue-300 "routerLink="">Trang chu</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-sliders-h"></i>
                            <a class="px-1 hover:text-blue-300"routerLink="">Slider</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-users"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Tai khoan</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-gift"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Uu dai</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-map"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Dia diem</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-list"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Thong tin tour</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-table"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">The loai</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fab fa-servicestack"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Dich vu</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-star"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Danh gia</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-dolly-flatbed"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Don hang</a>
                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fas fa-th-large"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Binh luan</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fa-solid fa-blog"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Blog</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fa-solid fa-chart-pie"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Thong ke</a>

                        </div>
                        <div class="flex items-center py-2 px-2  hover:border-b-2">
                            <i class="fa-solid fa-arrows-spin"></i>
                            <a class="px-1 hover:text-blue-300" routerLink="">Setting</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</body>
</html>